<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="header :: copy"></head>
<body>
	<h1>An Error Has Occurred</h1>

	<p th:if="${url}">
		<b>Page:</b> <span th:text="${url}">Page URL</span>
	</p>

	<p th:if="${timestamp}" id='created'>
		<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
	</p>

	<p th:if="${status}">
		<b>Response Status:</b> <span th:text="${status}">status-code</span> <span
			th:if="${error}" th:text="'('+${error}+')'">error ...</span>
	</p>

	<div
		th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
		<b>Cause:</b> <span th:if="${ex}" th:text="${ex}">ex exception
			...</span> <span th:if="${exception}" th:text="${exception}">exception
			...</span> <span th:if="${message} and ${message.length() != 0}"
			th:text="${message}">message ...</span>
	</div>

	<p
		th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
		Cause unknown (no exception details available)</p>

	<div th:substituteby="footer :: copy"></div>

</body>
</html>
