<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<h1>Stations Web Service Demo</h1>
	<h3>Overview</h3>
	<ul>
		<li>Demo defines a simple web-application for accessing station
			data.</li>
		<li>All the station information is fetched via a RESTful
			interface to a Stations microservice which is managed using Eureka.</li>
	</ul>

	<h3>Links</h3>
	<ul class="openlist">
		<li>Eureka Dashboard to check registered services: <a href="http://localhost:1111">http://localhost:1111</a></li>
		<li>To health check the station service click <a th:href="@{/station/health}">Station Service Health Check</a>:</li>
		<li>To search by station name click to go to <a th:href="@{/station/search}">Station Search Page</a>:</li>
		<li>Click to fetch all stations: <a th:href="@{/station/searchAll}">/station/searchAll</a></li>
		<li>Click to call API that doesn't exist: <a th:href="@{/station/searchAllThatDoesNotExist}">/station/searchAllThatDoesNotExist</a></li>
		<li>To check the reponse when the station service is down first stop the station service and then click the following link: <a th:href="@{/station/searchAll}">/station/searchAll Service Down</a></li>
	</ul>
	<div th:replace="footer :: copy"></div>

</body>
</html>
